<!DOCTYPE html>
<html lang="pt-br">
    <head hreflang="pt-br">
        <title>Cadastre-se com | Mega Loterias</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="description" content="Registre-se agora no nosso site de loterias e amplie suas chances de ganhar grandes prêmios! Cadastre-se para participar dos sorteios e embarque na emocionante jornada rumo à sua sorte.">
        <meta name="format-detection" content="telephone=no">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Cadastre-se com | Mega Loterias">
        <meta property="og:description" content="Registre-se agora no nosso site de loterias e amplie suas chances de ganhar grandes prêmios! Cadastre-se para participar dos sorteios e embarque na emocionante jornada rumo à sua sorte.">
        <meta property="og:site_name" content="Mega Loterias">
        <meta property="og:locale" content="pt-br">
        <meta property="og:url" content="https://www.megaloterias.com.br/cadastro">
        <meta property="og:image" content="">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:description" content="Registre-se agora no nosso site de loterias e amplie suas chances de ganhar grandes prêmios! Cadastre-se para participar dos sorteios e embarque na emocionante jornada rumo à sua sorte.">
        <meta name="twitter:title" content="Cadastre-se com | Mega Loterias">
        <link rel="apple-touch-icon" sizes="57x57" href="https://www.megaloterias.com.br/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://www.megaloterias.com.br/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://www.megaloterias.com.br/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://www.megaloterias.com.br/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://www.megaloterias.com.br/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://www.megaloterias.com.br/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://www.megaloterias.com.br/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://www.megaloterias.com.br/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.megaloterias.com.br/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="https://www.megaloterias.com.br/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://www.megaloterias.com.br/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://www.megaloterias.com.br/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.megaloterias.com.br/favicon-16x16.png">
        <link rel="manifest" href="https://www.megaloterias.com.br/manifest.json">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="https://www.megaloterias.com.br/ms-icon-144x144.png">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="fb:app_id" content="791073418311815">
        <meta name="google-signin-client_id" content="541151481448-obcln9dslf8qb49j7cfdg760useipj7d.apps.googleusercontent.com">
        <link rel="canonical" href="https://www.megaloterias.com.br/cadastro">
        <link rel="preload" as="style" href="//fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800&subset=cyrillic&display=swap" crossOrigin="anonymous">
        <link rel="preload" as="style" href="https://www.megaloterias.com.br/assets/css/style.css?nocache=1746200847069">
        <link rel="preload" as="script" href="https://www.megaloterias.com.br/assets/main.bundle.js?nocache=1746200847069">
        <link rel="stylesheet" href="https://www.megaloterias.com.br/assets/css/style.css?nocache=1746200847069" media="all">
        <link rel="stylesheet" crossOrigin="anonymous" href="//fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800&subset=cyrillic&display=swap" media="all">
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Organization",
                "url": "https://www.megaloterias.com.br",
                "logo": "https://www.megaloterias.com.br/media/logo.svg"
            }</script>
        <script src="https://www.google.com/recaptcha/api.js?render=6LdHdA4kAAAAANEZq7UerPv-o1XeJwIpCfgHKkDr" id="recaptcha" data-token="6LdHdA4kAAAAANEZq7UerPv-o1XeJwIpCfgHKkDr"></script>
    </head>
    <body id="app" data-app="login">
        <script>
            window.onload = function() {
                (function(w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({
                        'gtm.start': new Date().getTime(),
                        event: 'gtm.js'
                    });
                    var f = d.getElementsByTagName(s)[0]
                      , j = d.createElement(s)
                      , dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                }
                )(window, document, 'script', 'dataLayer', 'GTM-K2KSTMS');
            }
        </script>
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2KSTMS" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <div class="wrap-content">
            <div class="light-back"></div>
            <header id="header" class="main-header__wrap" data-vue="header" v-cloak>
                <div id="target" class="menu-header-fixed">
                    <section class="main-header" v-bind:class="{ 'main-header--is-loaded' : loaded}">
                        <div class="main-header__sidebar">
                            <button class="main-header__menu-btn" v-on:click="toggleMenu()" v-bind:class="{ active: showMenu}">
                                <span>Menu</span>
                            </button>
                            <section class="main-sidebar" v-bind:class="{ active: showMenu}">
                                <div>
                                    <section>
                                        <div class="main-sidebar__wellcome" v-if="loaded">
                                            <p v-if="userInfo" class="text-truncate">
                                                Olá, 
                                                <a href="/minha-conta">
                                                    <strong v-text="userInfo.shortName"></strong>
                                                </a>
                                            </p>
                                            <p v-if="!userInfo" class="text-truncate">
                                                Olá, 
                                                <a href="/login">
                                                    <strong>Faça o login.</strong>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="main-sidebar__menu--container">
                                       
                                                    <div class="main-sidebar__menu__content">
                                                        <ul>
                                                            <li>
                                                                <a href="/mega-sena">
                                                                    <span>Mega-Sena</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/dupla-sena">
                                                                    <span>Dupla Sena</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/lotomania">
                                                                    <span>Lotomania</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/quina">
                                                                    <span>Quina</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/loteria-federal">
                                                                    <span>Loteria Federal</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/loteca">
                                                                    <span>Loteca</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/lotofacil">
                                                                    <span>Lotofácil</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/timemania">
                                                                    <span>Timemania</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/dia-de-sorte">
                                                                    <span>Dia de Sorte</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/super-sete">
                                                                    <span>Super Sete</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/mais-milionaria">
                                                                    <span>+ Milionária</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/mega-da-virada">
                                                                    <span>Mega da Virada</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/dupla-de-pascoa">
                                                                    <span>Dupla de Páscoa</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/quina-de-sao-joao">
                                                                    <span>Quina de São João</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/lotofacil-da-independencia">
                                                                    <span>Lotofácil da Independência</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/loterias-estaduais">
                                                                    <span>Loterias estaduais</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/loterias">
                                                                    <span>Todas as Loterias</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="main-sidebar__menu main-sidebar__menu--products">
                                                    <div class="main-sidebar__menu__title">
                                                        <span class="icon"></span>
                                                        <span>Nossos Produtos</span>
                                                        <span class="arrow"></span>
                                                    </div>
                                                    <div class="main-sidebar__menu__content">
                                                        <ul>
                                                            <li>
                                                                <a href="/boloes">
                                                                    <span>Bolões</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/monte-seu-jogo">
                                                                    <span>Monte Seu Jogo</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/recorrencia">Recorrência Automática</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="main-sidebar__menu main-sidebar__menu--services">
                                                    <div class="main-sidebar__menu__title">
                                                        <span class="icon"></span>
                                                        <span>Serviços</span>
                                                        <span class="arrow"></span>
                                                    </div>
                                                    <div class="main-sidebar__menu__content">
                                                        <ul>
                                                            <li>
                                                                <a href="/tele-sena">
                                                                    <span>Tele Sena</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/comprar-creditos">
                                                                    <span>Comprar Crédito</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/resultados">
                                                                    <span>Resultados</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/noticias">
                                                                    <span>Notícias</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/e-books">
                                                                    <span>E-books</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="main-sidebar__menu main-sidebar__menu--institutional">
                                                    <div class="main-sidebar__menu__title">
                                                        <span class="icon"></span>
                                                        <span>Técnicas de Jogo</span>
                                                        <span class="arrow"></span>
                                                    </div>
                                                    <div class="main-sidebar__menu__content">
                                                        <ul>
                                                            <li>
                                                                <a href="/desdobramentos">
                                                                    <span>Desdobramentos</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/fechamentos">
                                                                    <span>Fechamentos</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="main-sidebar__menu main-sidebar__menu--institutional">
                                                    <div class="main-sidebar__menu__title">
                                                        <span class="icon"></span>
                                                        <span>Sobre Nós</span>
                                                        <span class="arrow"></span>
                                                    </div>
                                                    <div class="main-sidebar__menu__content">
                                                        <ul>
                                                            <li>
                                                                <a href="/institucional/quem-somos">
                                                                    <span>Quem Somos</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/institucional/como-funciona">
                                                                    <span>Como Funciona</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/institucional/dias-de-sorteio">
                                                                    <span>Dias de Sorteio</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/institucional/metodos-de-pagamento">
                                                                    <span>Métodos de Pagamento</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/institucional/jogo-responsavel">
                                                                    <span>Jogo responsável</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/institucional/atendimento">
                                                                    <span>Atendimento</span>
                                                                    <span class="arrow"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </section>
                        </div>
                        <div class="main-header__title">
                            <a href="/" title="Mega Loterias">
                                <div class="main-header__title__logo">Mega Loterias</div>
                            </a>
                        </div>
                        <div class="main-header__nav">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="/loterias">Loterias</a>
                                    </li>
                                    <li>
                                        <a href="/boloes">Bolões</a>
                                    </li>
                                    <li>
                                        <a href="/monte-seu-jogo">Monte seu Jogo</a>
                                    </li>
                                    <li>
                                        <a href="/resultados">Resultados</a>
                                    </li>
                                    <li>
                                        <a href="/noticias">Notícias</a>
                                    </li>
                                    <li>
                                        <a href="/institucional/como-funciona">Como Funciona</a>
                                    </li>
                                    <li>
                                        <a href="/premios-no-site">Prêmios no Site</a>
                                    </li>
                                    <li>
                                        <a href="/institucional/atendimento">
                                            Ajuda <i class="color-primary fa fa-question-circle"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="main-header__logged" v-if="loaded && userInfo" v-cloak>
                            <div class="main-header__credits">
                                <div class="main-header__credits__wrap">
                                    <a href="/comprar-creditos" class="main-header__credits__block" v-if="userInfo">
                                        <div class="main-header__credits__title">Meu Saldo</div>
                                        <div class="main-header__credits__val">
                                            R$ <span class="text-truncate">{{userInfo.overallBalanceText.split(' ')[1]}}</span>
                                        </div>
                                        <div class="main-header__credits__cta">Comprar Créditos</div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-header__user" v-cloak>
                                <div class="main-header__user__wrap" v-on:click="toggleUserMenu">
                                    <div class="main-header__user__avatar" v-bind:class="{ active: showUserMenu }">
                                        <div v-if="!userInfo.acron" class="main-header__user__image"></div>
                                        <div v-if="userInfo.acron" class="main-header__user__acron" v-text="userInfo.acron" v-bind:style="userInfo.avatarBG ? { backgroundColor: userInfo.avatarBG } : {}"></div>
                                        <span class="notification-button__badge" v-if="notificationCount">{{ notificationCount }}</span>
                                    </div>
                                    <div class="main-header__user__name">
                                        <div class="text-truncate" v-text="userInfo.shortName">---</div>
                                    </div>
                                    <i class="fa fa-chevron-down" v-bind:class="{ 'color-primary' : showUserMenu }"></i>
                                </div>
                                <div class="main-header__user__nav" v-bind:class="{ active: showUserMenu }">
                                    <ul>
                                        <li>
                                            <a href="/minha-conta/compras">Compras</a>
                                        </li>
                                        <li>
                                            <a href="/minha-conta/meus-jogos">Meus Jogos</a>
                                        </li>
                                        <li>
                                            <a href="/minha-conta/saldo">Extrato</a>
                                        </li>
                                        <li>
                                            <a href="/minha-conta/cadastro">Perfil</a>
                                        </li>
                                        <li>
                                            <a href="/minha-conta/carteira">Carteira</a>
                                        </li>
                                        <li>
                                            <a href="/minha-conta/resgate">Resgates</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" @click="openNotificationInbox(); showUserMenu = false">
                                                Notificações <span class="notification-button__badge" v-if="notificationCount">{{ notificationCount }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="redirect-logout" @click="userLogout">Sair</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div v-if="loaded && !userInfo" class="main-header__unlogged" v-cloak>
                            <a href="/cadastro">Cadastre-se</a>
                            <a href="/login">
                                <i class="fa fa-user"></i>
                                Login
                            </a>
                            <button class="notification-button" @click="openNotificationInbox()">
                                <img src="/media/icon-notification.svg" width="28" height="28" loading="lazy" alt="ícone de notificação">
                                <span class="notification-button__badge" v-if="notificationCount">{{ notificationCount }}</span>
                            </button>
                        </div>
                        <button v-if="loaded && !userInfo" class="notification-button notification-button--mobile" @click="openNotificationInbox()" v-cloak>
                            <img src="/media/icon-notification.svg" width="28" height="28" loading="lazy" alt="ícone de notificação">
                            <span class="notification-button__badge" v-if="notificationCount">{{ notificationCount }}</span>
                        </button>
                        <div v-if="!loaded" class="main-header__loading text-center">
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                        </div>
                        <div class="main-header__cart-wrap" v-cloak>
                            <button class="main-header__cart-btn" title="Carrinho" v-on:click="toggleMinicart" v-bind:class="{ 'active ' : showMinicart, 'has-items' : (minicart && minicart.count > 0) }">
                                <span v-if="totalNumberOfItems > 0" v-text="totalNumberOfItems || 0"></span>
                            </button>
                            <div class="main-header__cart-total" v-if="minicart && minicart.count > 0">{{intToReal(minicart.total)}}</div>
                            <mini-cart class="minicart--desktop" v-on:on-close="toggleMinicart" v-bind:class="{'minicart--active': showMinicart }"></mini-cart>
                        </div>
                    </section>
                    <div class="main-header__shadow-floats" v-bind:class="{ active: (showUserMenu || showMenu || showMinicart), 'active-top' : endPromotion}" v-on:click="removeFloats" v-cloak></div>
                    <notification-inbox v-if="notificationInboxActive" @updatebadge="(event) => updateBadge(event)" @close="() => notificationInboxActive = false"></notification-inbox>
                </div>
            </header>
            <section id="content" class="main-content">
                <div class="loginbox-wrap" data-vue="page-login">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <login-box :default-tab="'register'" :return-path="'/'" :social="{&quot;facebook&quot;:&quot;https://www.facebook.com/Mega-Loterias-117559616749282&quot;,&quot;instagram&quot;:&quot;https://www.instagram.com/mega_loterias/?igshid=mx0h4kt662wj&quot;,&quot;twitter&quot;:null,&quot;youtube&quot;:null}" :on-recaptcha="true">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="testimonials">
                <div class="container">
                    <div class="row mr-0">
                        <div class="col-12">
                            <h2 class="testimonials__title">Depoimentos</h2>
                            <p class="testimonials__paragraph">Veja aqui o que alguns apostadores acham sobre o Mega Loterias</p>
                        </div>
                        <div class="col-12">
                            <div class="yv-testimonial" data-vanilla="testimonials-slider" data-qty="9">
                                <div class="loading-testimonials">Carregando depoimentos...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-newsletter" data-vue="footer-newsletter" v-cloak>
                <div class="footer-newsletter__box">
                    <div class="container">
                        <div class="footer-newsletter__rabbit">
                            <div class="footer-newsletter__container">
                                <div class="footer-newsletter__title">
                                    <h2>Boletim Diário</h2>
                                    <p>Receba resultados, próximos sorteios e premiações em primeira mão!</p>
                                </div>
                                <form class="footer-newsletter__input" v-if="!isDone" v-on:submit="save">
                                    <input type="email" v-model="email" placeholder="Insira seu e-mail" required :disabled="isProcessing">
                                    <button type="submit" :disabled="isProcessing">Enviar</button>
                                </form>
                                <a v-for="(banner, index) in bannersMobile" :key="`banner-mobile-${index}`" :href="banner.link" class="footer-newsletter__recharge" target="_blank">
                                    <img :src="banner.image" alt="banner" title="banner" class="img-fluid">
                                </a>
                                <div v-if="isDone" class="alert alert--success text-left">
                                    <p>Obrigado! Seu e-mail já foi registrado para receber as novidades do Mega Loterias.</p>
                                </div>
                            </div>
                            <div class="footer-recharge__box">
                                <a v-for="(banner, index) in bannersDesktop" :key="`banner-desktop-${index}`" :href="banner.link" class="d-none d-md-block" target="_blank">
                                    <img :src="banner.image" alt="banner" title="banner" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer" data-vue="FooterPages" class="main-footer">
                <section class="footer__primary">
                    <div class="container">
                        <div class="row">
                            <div class="footer__widget col-md-3 col-sm-6 col-6">
                                <div class="footer__widget__title">Loterias</div>
                                <div class="footer__widget__content">
                                    <ul>
                                        <li>
                                            <a href="/mega-sena">Mega-Sena</a>
                                        </li>
                                        <li>
                                            <a href="/dupla-sena">Dupla Sena</a>
                                        </li>
                                        <li>
                                            <a href="/lotomania">Lotomania</a>
                                        </li>
                                        <li>
                                            <a href="/quina">Quina</a>
                                        </li>
                                        <li>
                                            <a href="/loteria-federal">Loteria Federal</a>
                                        </li>
                                        <li>
                                            <a href="/loteca">Loteca</a>
                                        </li>
                                        <li>
                                            <a href="/lotofacil">Lotofácil</a>
                                        </li>
                                        <li>
                                            <a href="/timemania">Timemania</a>
                                        </li>
                                        <li>
                                            <a href="/dia-de-sorte">Dia de Sorte</a>
                                        </li>
                                        <li>
                                            <a href="/super-sete">Super Sete</a>
                                        </li>
                                        <li>
                                            <a href="/mais-milionaria">+ Milionária</a>
                                        </li>
                                        <li>
                                            <a href="/loterias-estaduais">Loterias estaduais</a>
                                        </li>
                                        <li>
                                            <a href="/loterias">Todas as Loterias</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer__widget col-md-3 col-sm-6 col-6">
                                <div class="footer__widget__title">Sorteios Especiais</div>
                                <div class="footer__widget__content">
                                    <ul>
                                        <li>
                                            <a href="/mega-da-virada">Mega da Virada</a>
                                        </li>
                                        <li>
                                            <a href="/dupla-de-pascoa">Dupla de Páscoa</a>
                                        </li>
                                        <li>
                                            <a href="/quina-de-sao-joao">Quina de São João</a>
                                        </li>
                                        <li>
                                            <a href="/lotofacil-da-independencia">Lotofácil da Independência</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <div class="footer__widget__title">Nossos Produtos</div>
                                <div class="footer__widget__content">
                                    <ul>
                                        <li>
                                            <a href="/boloes">Bolões</a>
                                        </li>
                                        <li>
                                            <a href="/monte-seu-jogo">Monte Seu Jogo</a>
                                        </li>
                                        <li>
                                            <a href="/recorrencia">Recorrência Automática</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 footer__widget col-6">
                                <div class="footer__widget__title">Serviços</div>
                                <div class="footer__widget__content">
                                    <ul>
                                        <li>
                                            <a href="/tele-sena">Tele Sena</a>
                                        </li>
                                        <li>
                                            <a href="/comprar-creditos">Comprar Crédito</a>
                                        </li>
                                        <li>
                                            <a href="/resultados">Resultados</a>
                                        </li>
                                        <li>
                                            <a href="/premios-no-site">Prêmios no Site</a>
                                        </li>
                                        <li>
                                            <a href="/noticias">Notícias</a>
                                        </li>
                                        <li>
                                            <a href="/e-books">E-books</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <div class="footer__widget__title">Técnicas de Jogo</div>
                                <div class="footer__widget__content">
                                    <ul>
                                        <li>
                                            <a href="/desdobramentos">Desdobramentos</a>
                                        </li>
                                        <li>
                                            <a href="/fechamentos">Fechamentos</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 footer__widget col-6">
                                <div class="footer__widget__title">Sobre Nós</div>
                                <div class="footer__widget__content">
                                    <ul>
                                        <li>
                                            <a href="/institucional/quem-somos">Quem Somos</a>
                                        </li>
                                        <li>
                                            <a href="/institucional/como-funciona">Como Funciona</a>
                                        </li>
                                        <li>
                                            <a href="/institucional/dias-de-sorteio">Dias de Sorteio</a>
                                        </li>
                                        <li>
                                            <a href="/institucional/metodos-de-pagamento">Métodos de Pagamento</a>
                                        </li>
                                        <li>
                                            <a href="/institucional/jogo-responsavel">Jogo responsável</a>
                                        </li>
                                        <li>
                                            <a href="/institucional/atendimento">Atendimento</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 footer__widget">
                                <div class="footer__widget--payment--block">
                                    <div class="footer__widget__title">Formas de Pagamento</div>
                                    <div class="footer__widget__content">
                                        <div class="footer__widget--payment">
                                            <img src="/media/footer-payments/ico-elo.svg" width="40" height="40" alt="Elo" title="Elo" loading="lazy">
                                            <img src="/media/footer-payments/ico-american.svg" width="25" height="40" alt="American Express" title="American Express" loading="lazy">
                                            <img src="/media/footer-payments/ico-hipercard.svg" width="40" height="40" alt="Hipercard" title="Hipercard" loading="lazy">
                                            <img src="/media/footer-payments/ico-mastercard.svg" width="34" height="40" alt="Mastercard" title="Mastercard" loading="lazy">
                                            <img src="/media/footer-payments/ico-visa.svg" width="40" height="40" alt="Visa" title="Visa" loading="lazy">
                                            <img src="/media/footer-payments/ico-bradesco.svg" width="25" height="40" alt="Bradesco" title="Bradesco" loading="lazy">
                                            <img src="/media/footer-payments/ico-itau.svg" width="25" height="40" alt="Itaú" titlet="Itaú" loading="lazy">
                                            <img src="/media/footer-payments/ico-bb.svg" width="25" height="40" alt="Banco do Brasil" title="Banco do Brasil" loading="lazy">
                                            <img src="/media/footer-payments/ico-santander.svg" width="25" height="40" alt="Santander" title="Santander" loading="lazy">
                                            <img src="/media/footer-payments/ico-pix.svg" width="50" height="40" alt="Pix" title="Pix" loading="lazy">
                                            <img src="/media/footer-payments/ico-picpay.svg" width="50" height="40" alt="PicPay" title="PicPay" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="{
        'footer__logo--container' : !showReputation,
        'footer__logo--container-reputation-inactive' : showReputation }">
                                    <div class="footer__widget col-12 col-md-4">
                                        <div class="footer__logo is-lazy" data-bg="/media/logo.svg">Mega Loterias</div>
                                    </div>
                                    <div class="footer__widget col-12 col-md-4">
                                        <div class="footer__widget--social">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/Mega-Loterias-117559616749282" target="blank" rel="nofollow">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/mega_loterias/?igshid=mx0h4kt662wj" target="blank" rel="nofollow">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.lojaconfiavel.com/mega-loterias" class="ts-footerstamp" data-lcname="mega-loterias" target="_blank">
                                                        <img src="//service.yourviews.com.br/Image/8b163341-fad9-4ee8-9167-0ab27e4cc05e/Footer.jpg" title="Loja Confiável" alt="Loja Confiável" width="62" height="62" loading="lazy">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div v-if="!showReputation" class="footer_widget align-items-center d-flex justify-content-center col-12 col-md-3">
                                        <div id="ra-verified-seal"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer__secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center align-items-lg-center">
                                <img class="mr-2" src="/media/home/maior-18.svg" alt="" width="17" height="16">
                                <p class="m-0">Proibido cadastro e apostas para menores de 18 anos | Jogue com responsabilidade</p>
                            </div>
                            <div class="col-12">
                                <p class="text-center">
                                    Copyright &copy;2025 Mega Loterias - Todos os direitos reservados - <a href="/institucional/termos-de-uso">Termos e Condições de Uso</a>
                                    - <a href="/institucional/politica-de-privacidade">Política de Privacidade</a>
                                    <br>Serviços disponibilizados por Nerone Serviços de Intermediações ltda. CNPJ: 39.314.472/0001-54 - Endereço: Avenida Paulista, 1471 - Conjunto 511 - CEP: 01.311-927 - São Paulo / SP
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>
        <input type="hidden" id="MeuCampoQueReceberaValor">
        <script src="https://www.megaloterias.com.br/assets/main.bundle.js?nocache=1746200847069" defer></script>
    </body>
</html>
